body {
    font-family: Arial, sans-serif;
    background: url('./assets/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(3px);
    overflow-x: hidden;
}
@media (max-width : 768px) {
    body{
        overflow-x: hidden !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .c1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: max-content;
        gap: 25vw;
    }
 
    .c1 h1:nth-child(1){
        width: 20px;
    }
   #mobile{
       display: none !important;
   }

    
}
.heading{
    font-size: 50px;
    margin-bottom: 5px;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#logo{
    height: 200px;
}
.container {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: large;
}
@media (max-width: 768px) {
    .container{
        width: 90% !important;
        margin: 0px;
        font-size: medium;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    
}
.container h2 {
   text-align:  center;
    margin-bottom: 20px;
    font-size: x-large;

}
.ranking-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ranking-table th, .ranking-table td {
    padding: 10px;
    border-bottom: 1px solid #555;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.pagination-btn:hover {
    background-color: #666;
}

#current-page {
    margin: 0 10px;
    font-size: 16px;
}
